#contact {
  // max-width: 1232px;
  // margin-left: auto;
  // width: 100%;

  // margin-right: auto;
  // border: 1px solid black;

  display: flex;
  justify-content: center;
  align-items: center;
  .contact__inner {
    border: 1px solid red;

    // width: 100%;
    width: 1232px;
    margin-left: 344px;
    margin-right: 344px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    transition: 3s;

    @media (max-width: 1024px) {
      transition: 2s;
      // max-width: 532px;
      margin-left: 118px;
      margin-right: 118px;
    }
    @media (max-width: 767px) {
      transition: 1s;
      // max-width: 356px;
      margin-left: 28px;
      margin-right: 28px;
    }

    .contact__title {
      font-family: "Pretendard-Bold";
      font-size: 36px;
      color: #03acb4;
      line-height: 36px;
      letter-spacing: -1.44px;
      // margin-bottom: 47px;
    }
    .contact__text {
      width: 100%;

      form {
        div {
          font-size: 15px;
          color: #c2c4c4;
          margin-top: 47px;
          margin-bottom: 12px;
          line-height: 22px;
          letter-spacing: -0.09px;
        }
        .mailtitle {
          @media (max-width: 767px) {
            margin-top: 39px;
          }
        }
        .bodyarea {
          display: flex;
          .bodycontent {
            margin-top: 57px;
            margin-bottom: 12px;
            @media (max-width: 767px) {
              margin-top: 40px;
              margin-bottom: 12px;
            }
          }
        }

        input {
          width: 100%;
          // position: relative;
          // display: flex;
          color: #b7b7b7;
          font-size: 24px;
          padding: 11px 10px;
          height: 51px;
          font-family: "Pretendard-Medium";

          border-left-width: 0;
          border-right-width: 0;
          border-top-width: 0;
          // border-bottom-width: 1;
          background: transparent;
          padding-left: 10px;
          // margin-bottom: 47px;
          @media (max-width: 767px) {
            margin-bottom: 0px;
          }
        }
        textarea {
          // margin-bottom: 40px;
          width: 100%;
          font-family: "Pretendard-Regular";

          height: 301px;
          resize: none;
          font-size: 19px;
          color: #7b8383;
          line-height: 28px;
          letter-spacing: -0.11px;
          padding-left: 10px;
          padding-right: 40px;
          padding-top: 23px;
          padding-bottom: 23px;

          @media (max-width: 767px) {
            height: 250px;
          }
        }

        button {
          background-color: white;
          border-radius: 37px;
          width: 236px;
          height: 60px;
          font-size: 24px;
          color: #3f3c33;
          font-family: "Pretendard-Regular";
          border: 1px solid #c2c4c4;
          display: block;
          margin-left: auto;
          margin-right: auto;
          margin-top: 40px;
          margin-bottom: 60px;

          @media (max-width: 767px) {
            width: 144px;
            height: 47px;
            font-size: 19px;
          }
          &:hover {
            border: 1px solid #3445db;
          }
        }
      }
      .text {
        font-family: "Pretendard-Regular";
        color: #c2c4c4;
        font-size: 19px;
        text-align: left;
        // position: relative;
        line-height: 28px;
        letter-spacing: -0.11px;
        //   z-index: 100;
        //   transition: all 0.3s;
        margin-bottom: 100px;
        @media (max-width: 767px) {
          // display: none;
          font-size: 15px;
          margin-bottom: 80px;
        }
      }
    }
  }
}
