#header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
  height: 0px;

  display: flex;
  justify-content: center;
  @media (max-width: 1024px) {
    top: initial;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
.header__inner {
  margin-left: 344px;
  margin-right: 344px;
  width: 1234px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 1024px) {
    transition: 1s;
    margin-left: 118px;
    margin-right: 118px;
  }
  @media (max-width: 767px) {
    transition: 1s;
    margin-left: 28px;
    margin-right: 28px;
  }
  @media (max-width: 355px) {
    margin-left: 15px;
    margin-right: 15px;
  }

  .hi {
    .header__nav__mobile {
      position: relative;
      top: 68px;

      width: 50px;
      height: 50px;
      background-color: #ffffff;
      border-radius: 37px;
      box-shadow: 0 0px 10px #c2c4c4cc;

      .bluecir {
        position: absolute;
        display: flex;
        border-radius: 37px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 16px;
        height: 16px;
        background-color: #0066ff;
        box-shadow: 0 0px 10px #c2c4c4cc;
      }
      cursor: pointer;

      @media (max-width: 1024px) {
        top: initial;
        bottom: 40px;
      }
      @media (max-width: 767px) {
        bottom: 50px;

        opacity: 95%;
      }
    }
    .header__nav {
      display: none;
      //클릭 했을때
      &.show {
        display: block;

        ul {
          position: absolute;
          height: 50px;
          top: 43px;
          margin-left: -255px;
          background-color: white;
          box-shadow: 0 0px 10px #c2c4c4cc;
          border-radius: 80px;

          padding-left: 25px;
          padding-right: 50px;

          opacity: 95%;
          @media (max-width: 1024px) {
            top: initial;
            bottom: 15px;
          }
          @media (max-width: 767px) {
            bottom: 25px;
            padding-left: 20px;
            padding-right: 50px;
            margin-left: -220px;
          }

          li {
            display: block;
            text-align: center;
            float: left;
            @media (max-width: 1024px) {
            }

            a {
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 14px;
              color: #3f3c33;
              width: 46px;
              font-family: "Pretendard-Regular";
              height: 50px;

              @media (max-width: 767px) {
                width: 40px;
              }
            }
          }
        }
      }

      &.show + .header__nav__mobile {
        box-shadow: none;
      }
    }
  }
}
