#login {
  display: flex;
  justify-content: center;
  margin-top: 81px;
}

.login__inner {
  margin-left: 342px;
  margin-right: 342px;
  width: 1232px;

  display: flex;
  flex-direction: column;

  .login__title {
    font-family: "Pretendard-Bold";
    font-size: 34px;
    color: #03acb4;
    margin-bottom: 250px;
  }
  .login__text {
    width: 100%;
    padding: 0px 200px;
    margin-bottom: 60px;

    .text {
      margin-bottom: 12px;
      font-family: "Pretendard-Regular";
      font-size: 13px;
      color: #c2c4c4;
    }

    input {
      width: 100%;
      height: 50px;
      //밑줄만 남기기
      border-left-width: 0;
      border-right-width: 0;
      border-top-width: 0;
      background: transparent;
      margin-bottom: 30px;
    }
  }
  .login__img {
    button {
      background-color: white;
      border-radius: 37px;
      width: 236px;
      height: 60px;
      font-size: 24px;
      color: #3f3c33;
      font-family: "Pretendard-Medium";
      border: 1px solid #c2c4c4;
      margin-right: 12px;

      &:hover {
        border: 1px solid #3445db;
      }
    }

    margin-left: auto;
    margin-right: auto;
  }
}
