#login {
  display: flex;
  justify-content: center;
  margin-top: 81px;
  // width: 100%;
  border: 1px solid darkblue;
}

.login__inner {
  border: 1px solid darkblue;
  margin-left: 342px;
  margin-right: 342px;
  // width: 100%;
  width: 1232px;

  //   max-width: 1920px;
  display: flex;
  // align-items: flex-start;
  // justify-content: flex-end;
  flex-direction: column;

  // border: 1px solid red;
  .login__title {
    // width: 100%;
    font-family: "Pretendard-Bold";
    font-size: 34px;
    color: #03acb4;
    margin-bottom: 250px;
  }
  .login__text {
    width: 100%;
    // margin-left: 500px;
    // margin-left: auto;
    // margin-right: auto;
    padding: 0px 200px;
    margin-bottom: 60px;

    .text {
      //   display: flex;
      margin-bottom: 12px;
      font-family: "Pretendard-Regular";
      font-size: 13px;
      color: #c2c4c4;
    }

    input {
      // position: relative;
      width: 100%;
      // margin-left: auto;
      // margin-right: auto;
      // width: 920px;
      // box-sizing: border-box;

      height: 50px;
      // box-sizing: border-box;

      //밑줄만 남기기
      border-left-width: 0;
      border-right-width: 0;
      border-top-width: 0;
      // border-bottom-width: 1;
      background: transparent;
      margin-bottom: 30px;
    }
  }
  .login__img {
    button {
      background-color: white;
      border-radius: 37px;
      width: 236px;
      height: 60px;
      font-size: 24px;
      color: #3f3c33;
      font-family: "Pretendard-Medium";
      border: 1px solid #c2c4c4;
      margin-right: 12px;

      &:hover {
        border: 1px solid #3445db;
      }
    }

    margin-left: auto;
    margin-right: auto;
  }
}
