#port {
  width: 100%;
  // height: 100vh;
  margin-bottom: 181px;
  @media (max-width: 768px) {
    margin-bottom: 132px;
  }
}
.port__inner {
  width: 100%;
  max-width: 1232px;
  // height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  transition: 3s;

  @media (max-width: 1024px) {
    transition: 2s;
    max-width: 532px;
  }
  @media (max-width: 768px) {
    transition: 1s;
    max-width: 356px;
  }

  .port__title {
    font-family: "Pretendard-Bold";
    font-size: 34px;
    color: #03acb4;
    margin-bottom: 20px;

    @media (max-width: 320px) {
      // display: none;
    }
  }
  .port__text {
    font-family: "Pretendard-Regular";
    font-size: 19px;
    text-align: left;
    position: relative;
    z-index: 100;
    transition: all 0.3s;
    cursor: all-scroll;
    margin-bottom: 64px;

    @media (max-width: 1024px) {
      margin-bottom: 36px;
    }
  }

  .port__wrap {
    width: 100%;
    display: inline-flex;
    // justify-content: space-between;
    gap: 12px;
    // float: left;
    margin: 0;
    flex-wrap: wrap; //줄바꿈
    // justify-content: space-between;
    //스크롤
    overflow: auto;
    height: 500px;

    li {
      width: 296px;
      height: 223px;
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;
      border: 1px solid #c2c4c433;
      // border: 1px solid black;
      border-radius: 10px;
      // background-color: aquamarine
      .port__wrapimgs {
        height: 142px;
        .port__wrapimg {
          width: 100%;
          height: 142px;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
        }
      }
      .port__wraptitle {
        font-size: 24px;
        text-align: left;
        font-family: "Pretendard-Medium";
        width: 251px;
        margin-left: 18px;
        margin-bottom: 5px;
        margin-top: 15px;
      }
      .port__wrapbody {
        font-size: 15px;
        text-align: left;
        font-family: "Pretendard-Regular";
        width: 251px;
        margin-left: 18px;
        color: #c2c4c4;
      }

      @media (max-width: 1024px) {
        width: 256px;
      }
      @media (max-width: 768px) {
        width: 172px;
      }
    }
  }
}
.port__wrap::-webkit-scrollbar {
  display: none;
}
