#port {
  margin-bottom: 181px;

  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 768px) {
    margin-bottom: 132px;
  }
  .port__inner {
    width: 1232px;
    margin-left: 344px;
    margin-right: 344px;

    transition: 3s;

    @media (max-width: 1024px) {
      transition: 2s;
      margin-left: 118px;
      margin-right: 118px;
    }
    @media (max-width: 767px) {
      transition: 1s;
      margin-left: 28px;
      margin-right: 28px;
    }

    .port__title {
      font-family: "Pretendard-Bold";
      font-size: 34px;
      color: #03acb4;
      margin-bottom: 20px;
      letter-spacing: -1.36px;
      line-height: 40px;

      @media (max-width: 767px) {
      }
    }
    .port__text {
      font-family: "Pretendard-Regular";
      font-size: 19px;
      color: #3f3c33;
      text-align: left;
      position: relative;
      z-index: 100;
      transition: all 0.3s;
      margin-bottom: 64px;
      line-height: 28px;

      @media (max-width: 1024px) {
        margin-bottom: 36px;
      }
      @media (max-width: 767px) {
        line-height: 22px;
        font-size: 15px;
      }
    }

    .port__wrap {
      max-width: 1232px;

      ul {
        // border: 1px solid red;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(296px, 1fr));

        grid-auto-flow: row;
        gap: 30px 12px;

        @media (max-width: 1024px) {
          grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
        }
        @media (max-width: 767px) {
          grid-template-columns: repeat(auto-fit, minmax(172px, 1fr));
        }

        li {
          width: auto;
          height: 223px;
          display: flex;
          flex-direction: column;
          border-radius: 10px;
          border: 1px solid #c2c4c433;

          // .nocursor {
          //   &:hover {
          //     cursor: auto;
          //   }
          // }

          .port__wrapimgs {
            // border: 1px solid black;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            height: 142px;
            position: relative;
            overflow: hidden;
            .port__wrapimg {
              transform: translateZ(0);
              backface-visibility: hidden;

              width: 100%;
              // height: 100%;

              object-fit: cover;
              border-top-left-radius: 10px;
              border-top-right-radius: 10px;
              @media (max-width: 767px) {
                height: 142px;
              }
              @media (max-width: 615px) {
                height: initial;
              }
            }
          }

          .port__wraptitle {
            font-size: 24px;
            color: #3f3c33;
            line-height: 28px;
            letter-spacing: -0.14px;
            text-align: left;
            font-family: "Pretendard-Medium";
            width: 251px;
            // width: 100%;
            margin-left: 18px;
            margin-bottom: 5px;
            margin-top: 15px;
            // 줄임말 ...
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            @media (max-width: 1024px) {
              width: 221px;
            }
            @media (max-width: 767px) {
              width: 145px;
            }
            @media (max-width: 411px) {
              width: 230px;
            }
            @media (max-width: 320px) {
              width: 180px;
            }
          }
          .port__wrapbody {
            font-size: 15px;
            text-align: left;
            font-family: "Pretendard-Regular";
            width: 251px;
            margin-left: 18px;
            line-height: 22px;
            letter-spacing: -0.09px;
            color: #c2c4c4;
            // 줄임말 ...
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            @media (max-width: 1024px) {
              width: 221px;
            }
            @media (max-width: 767px) {
              width: 145px;
            }
            @media (max-width: 411px) {
              width: 230px;
            }
            @media (max-width: 320px) {
              width: 180px;
            }
          }
        }
      }
    }
  }
  .port__wrap::-webkit-scrollbar {
    display: none;
  }
}
