.remail {
  margin-top: 13px;
  form {
    .mailinfo {
      margin-top: 12px;
      display: flex;
      border-color: #c2c4c4;
      .infoname1 {
        width: 150px;
        margin-right: 15px;
        font-size: 19px;
        color: #c2c4c4;
      }
      .infomail1 {
        font-size: 19px;
        color: #c2c4c4;
      }
      .infoname2 {
        width: 150px;
        margin-right: 15px;
        font-size: 19px;
        color: #c2c4c4;
      }
      .infomail2 {
        font-size: 19px;
        color: #c2c4c4;
      }
    }
    .titletext {
      color: #c2c4c4;
      font-size: 15px;
      font-family: "Pretendard-Regular";
    }
    div {
      margin-bottom: 12px;
      margin-top: 47px;
    }
    .remailbody {
      margin-top: 57px;
      color: #c2c4c4;
      font-size: 15px;
      font-family: "Pretendard-Regular";
    }
    input {
      width: 100%;
      height: 51px;
      border-left-width: 0;
      border-right-width: 0;
      border-top-width: 0;
      background: transparent;
      padding-left: 10px;
      padding-right: 10px;
    }
    textarea {
      width: 100%;
      height: 301px;
      resize: none;
      padding-left: 10px;
      padding-right: 40px;
      padding-top: 23px;
      padding-bottom: 23px;
    }
  }
  .remailbutton {
    display: flex;

    button {
      display: inline-block;
      background-color: white;
      border-radius: 37px;
      width: 236px;
      height: 60px;
      font-size: 24px;
      color: #3f3c33;
      font-family: "Pretendard-Medium";
      border: 1px solid #c2c4c4;
      margin-top: 40px;
      margin-bottom: 121px;
      &:hover {
        border: 1px solid #3445db;
      }
    }
    .cancle {
      margin-left: 370px;
    }
    .ok {
      margin-left: 20px;
      margin-right: 310px;
    }
    .page_up {
      height: 60px;
      width: 60px;
      background-color: white;
      border-radius: 37px;
      font-family: "Pretendard-Regular";
      font-size: 24px;
      color: #3f3c33;
      border: 1px solid #c2c4c4;
      &:hover {
        border: 1px solid #3445db;
      }
      img {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 4px;
      }
    }
  }
}
