#userpage {
  max-width: 1232px;
  margin-left: auto;
  margin-right: auto;
  .userpage__inner {
    .userpage__title {
      margin-top: 81px;
      margin-bottom: 23px;

      font-size: 34px;
      color: #03acb4;
      font-family: "Pretendard-Bold";
    }
    .btnhome {
      outline: none;
      background-color: white;
      width: 60px;
      height: 60px;
      margin-top: -50px;
      border-radius: 37px;
      border: 1px solid #cbd3d3;
      float: right;

      &:hover {
        cursor: pointer;
        border: 1px solid #3445db;
      }
    }
    .userpage__btn {
      display: flex;
      .menu {
        font-family: "Pretendard-Regular";

        height: 50px;
        color: #3f3c33;
        width: 192px;
        border: 1px solid #cbd3d3;
        display: flex;
        margin-right: 4px;
        justify-content: center;
        align-items: center;

        border-bottom: 0;

        .active {
          color: white;
          background-color: #03acb4;
          height: 50px;
          width: 192px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    .userpage__body {
      border: 1px solid #c2c4c4;
      margin-bottom: 40px;
      border-left: 0;
      border-right: 0;

      border-bottom: 0;
      .work_plus {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
        margin-bottom: 60px;
        margin-left: auto;
        margin-right: auto;
        width: 196px;
        height: 47px;
        background-color: white;
        border-radius: 37px;
        font-family: "Pretendard-Regular";
        font-size: 19px;
        color: #3f3c33;
        border: 1px solid #c2c4c4;
        &:hover {
          border: 1px solid #3445db;
        }
      }
      .inquire.active + .workpage__inner {
        display: none;
      }
    }
  }
}
