#workdetail {
  margin-top: 80px;
  margin-bottom: 80px;

  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 768px) {
    flex-direction: column;
    margin-top: 0px;
  }

  .workdetail__top2 {
    width: 100%;
    display: flex;
    justify-content: center;

    display: none;
    @media (max-width: 768px) {
      display: block;
    }
    .workdetail__top2__inner {
      display: flex;
      justify-content: center;
      position: relative;
      .backlogo {
        position: absolute;
        left: 0px;
        margin-top: 10px;
        &:hover {
          cursor: pointer;
        }
      }

      .workdetail__top2__innertext {
        margin-top: 20px;
        font-family: "Pretendard-Regular";
      }
    }
    .mobilebar {
      margin-top: 20px;
      margin-bottom: 0px;
      border-color: #c2c4c4;
    }
  }

  .workdetail__inner {
    margin-left: 28px;
    margin-right: 28px;
    width: 1232px;

    @media (max-width: 1024px) {
      max-width: 530px;
      margin-left: 28px;
      margin-right: 28px;
    }
    @media (max-width: 768px) {
      max-width: 300px;
      margin-left: 28px;
      margin-right: 28px;
    }

    .workdetail__top {
      display: flex;
      position: relative;
      border-bottom: 1px solid #b7b7b7;
      @media (max-width: 768px) {
        display: none;
      }
      .intrologo {
        width: 128px;
        height: 64px;
        margin-bottom: 50px;
        &:hover {
          cursor: pointer;
        }
        @media (max-width: 1024px) {
          margin-right: 358px;
        }
      }
      .canclebtn {
        position: absolute;
        right: 1px;
        width: 44px;
        height: 44px;
        margin-top: 10px;
        &:hover {
          cursor: pointer;
        }
      }
    }

    .workdetail__title {
      margin-top: 50px;
      font-size: 34px;
      color: #03acb4;
      margin-bottom: 20px;
      font-family: "Pretendard-Bold";
      @media (max-width: 768px) {
        font-size: 28px;
      }
    }
    .workdetail__body {
      font-size: 19px;
      color: #3f3c33;
      font-family: "Pretendard-Regular";
      margin-bottom: 20px;
      @media (max-width: 768px) {
        font-size: 15px;
      }
    }
    .worketail__icon {
      margin-bottom: 46px;
      display: flex;
      @media (max-width: 768px) {
        font-size: 28px;
      }
      .workicon {
        width: 66px;
        height: 25px;
        border-radius: 60px;
        border: 1px solid #c2c4c4;
        font-size: 13px;
        justify-content: center;
        align-items: center;
        display: flex;
        color: #7b808d;
        margin-right: 10px;
        font-family: "Pretendard-Regular";
      }
    }

    .workpic {
      display: flex;
      flex-wrap: wrap; //줄바꿈
      justify-content: space-between; // 이미지 사이에 간격주기
      width: 100%;
      gap: 12px;

      .pic {
        margin-bottom: 21px;

        width: 608px;
        @media (max-width: 1024px) {
          width: 257.42px;
        }
        @media (max-width: 768px) {
          width: 100%;
        }
      }
    }
    .bar2 {
      margin-top: 20px;
      margin-bottom: 50px;
      background: #cbd3d3;
      height: 1px;
      border: 0;
      @media (max-width: 768px) {
        margin-bottom: 30px;
      }
    }
    .btngolist {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 80px;
      background-color: white;
      border-radius: 37px;
      width: 236px;
      height: 60px;
      font-size: 24px;
      color: #3f3c33;
      font-family: "Pretendard-Medium";
      border: 1px solid #c2c4c4;

      &:hover {
        border: 1px solid #3445db;
      }
      @media (max-width: 1024px) {
        margin-bottom: 150px;
      }
      @media (max-width: 768px) {
        margin-bottom: 60px;
        width: 126px;
        height: 47px;
        font-size: 19px;
      }
    }
  }
}
