.workpage {
  ul {
    width: 100%;
    display: inline-flex;
    // justify-content: space-between;
    gap: 12px;
    // float: left;
    margin: 0;
    flex-wrap: wrap; //줄바꿈
    // justify-content: space-between;
    //스크롤
    //   overflow: auto;
    // height: 500px;
    li {
      width: 296px;
      height: 223px;
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;
      border: 1px solid #c2c4c433;
      border-radius: 10px;

      // background-color: aquamarine;
      .workpageitem {
        position: relative;
      }

      .workpageitem input[type="checkbox"] {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 14px; /* 원하는 위치로 조정 */
        left: 14px; /* 원하는 위치로 조정 */
        &:hover {
          cursor: pointer;
        }
      }
      .move-btn {
        position: absolute; /* 절대 위치 설정 */
        top: 9px; /* 부모 요소 상단에 위치 */
        right: 14px; /* 부모 요소 왼쪽에 위치 */
        z-index: 2; /* 이미지 위에 표시 */
        &:hover {
          cursor: pointer;
        }
      }
      .retouch-btn {
        position: absolute; /* 절대 위치 설정 */
        top: 9px; /* 부모 요소 상단에 위치 */
        right: 60px; /* 부모 요소 왼쪽에 위치 */
        z-index: 2; /* 이미지 위에 표시 */
      }

      .workpageimgs {
        height: 142px;

        .workpageimg {
          //칸에 꽉 차게 이미지 맞추기
          width: 100%;
          height: 142px;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
        }
      }
      .workpagetitle {
        font-size: 24px;
        text-align: left;
        font-family: "Pretendard-Medium";
        width: 251px;
        margin-left: 18px;
        margin-bottom: 5px;
        margin-top: 15px;
        // 줄임말 ...
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .workpagebody {
        font-size: 15px;
        text-align: left;
        font-family: "Pretendard-Regular";
        width: 251px;
        margin-left: 18px;
        color: #c2c4c4;
        // 줄임말 ...
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      // @media (max-width: 1024px) {
      //   width: 256px;
      // }
      // @media (max-width: 768px) {
      //   width: 172px;
      // }
    }
  }
  hr {
    margin-bottom: 40px;
    background-color: #c2c4c4;
    border: 0px;
    height: 1px;
  }
  .workpage__btn {
    .btn {
      width: 236px;
      height: 60px;
      background-color: white;
      border-radius: 37px;
      font-family: "Pretendard-Regular";
      font-size: 24px;
      color: #3f3c33;
      border: 1px solid #c2c4c4;
      margin-right: 20px;
      &:hover {
        border: 1px solid #3445db;
      }
    }
    .btn_del {
      margin-right: 424px;
    }
    .page_up {
      width: 60px;
      height: 60px;
      background-color: white;
      border-radius: 37px;
      font-family: "Pretendard-Regular";
      font-size: 24px;
      color: #3f3c33;
      border: 1px solid #c2c4c4;
      &:hover {
        border: 1px solid #3445db;
      }
    }
  }
}
input.workinput + label:before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 26px;
  height: 26px;
  top: 14px; /* 원하는 위치로 조정 */
  left: 14px; /* 원하는 위치로 조정 */
  &:hover {
    cursor: pointer;
  }
  border: 1px solid#CBD3D3;
  border-radius: 4px;
  vertical-align: middle;
  // margin-right: 10px;
  // margin-bottom: 4px;
}
input.workinput:checked + label:before {
  content: "\2713";
  // background-color: #f47c7  c;
  border-color: #00b5b5;
  font-size: 33px; /* 표시할 체크 표시의 크기 */
  color: #00b5b5; /* 체크 표시의 색상 */

  // color: #00b5b5;
  // background-image: url("check_btn.png");
  // background-repeat: no-repeat;
  // background-position: 50%;
  display: flex; /* 인라인 요소로 설정하여 텍스트와 함께 배치 */
  justify-content: center;
  // align-items: center;
  line-height: 32px; /* 체크 표시의 세로 정렬을 위해 높이 지정 */
  background-color: white;
}
