.workpage {
  ul {
    width: 100%;
    display: inline-flex;
    // justify-content: space-between;
    gap: 12px;
    // float: left;
    margin: 0;
    flex-wrap: wrap; //줄바꿈
    // justify-content: space-between;
    //스크롤
    //   overflow: auto;
    // height: 500px;
    li {
      width: 296px;
      height: 223px;
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;
      border: 1px solid brown;
      // background-color: aquamarine;
      img {
        //칸에 꽉 차게 이미지 맞추기
        height: 100%;
        width: 100%;
      }
      @media (max-width: 1024px) {
        width: 256px;
      }
      @media (max-width: 768px) {
        width: 172px;
      }
    }
  }
  hr {
    margin-bottom: 40px;
    background-color: #c2c4c4;
    border: 0px;
    height: 1px;
  }
  .workpage__btn {
    .btn {
      width: 236px;
      height: 60px;
      background-color: white;
      border-radius: 37px;
      font-family: "Pretendard-Regular";
      font-size: 24px;
      color: #3f3c33;
      border: 1px solid #c2c4c4;
      margin-right: 20px;
      &:hover {
        border: 1px solid #3445db;
      }
    }
    .btn_del {
      margin-right: 424px;
    }
    .page_up {
      width: 60px;
      height: 60px;
      background-color: white;
      border-radius: 37px;
      font-family: "Pretendard-Regular";
      font-size: 24px;
      color: #3f3c33;
      border: 1px solid #c2c4c4;
      &:hover {
        border: 1px solid #3445db;
      }
    }
  }
}
